apiVersion: v1
kind: ConfigMap
metadata:
  name: hello-html
  namespace: hello
data:
  index.html: |
    <html>
      <body style="font-family: sans-serif;">
        <h1>Hello World</h1>
        <p>Served by pod: <b>$HOSTNAME</b></p>
      </body>
    </html>
  default.conf: |
    server {
      listen 80;
      server_name _;
      location /healthz { default_type text/plain; return 200 "ok\n"; }
      location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html =404;
      }
    }
